# User Creation for MSQL Spark Connector
MSSQL Spark connector provides an efficient write SQLServer master instance and SQL Server data pool in Big Data Clusters. To transfer data to SQL Server the MSSQL Spark Connector requires the right credentials. This notebook explains creation of the user account the permissions for use in MSSQL Spark Connector.

## What permissions does MSSQL Spark connector requires.
The answer depends on the capability that's used. MSSQL Spark connector can read, write, create tables in SQL Server Master instance and Data Pools in SQL Server 2019 Big Data Clusters. For using the full set of functionality the user account needs to have permissions to read, write, create tables and external tables in data pools.

In [1]:
-- Start with creating a testdatabase. 
Create DATABASE connector_test_db

In [2]:
Use connector_test_db;
CREATE LOGIN connector_user  WITH PASSWORD ='password123!#' 
CREATE USER connector_user FROM LOGIN connector_user

-- To create external tables in data pools
grant alter any external data source to connector_user;

-- To create external table
grant create table to connector_user;
grant alter any schema to connector_user;

ALTER ROLE [db_datareader] ADD MEMBER connector_user
ALTER ROLE [db_datawriter] ADD MEMBER connector_user

In [3]:
-- Add this user to a data pool user.
Use connector_test_db;
CREATE EXTERNAL DATA SOURCE connector_ds  WITH (LOCATION = 'sqldatapool://controller-svc/default');
EXECUTE('USE connector_test_db; CREATE EXTERNAL TABLE [dummy3] ([number] int, [word] nvarchar(2048)) WITH (DATA_SOURCE = connector_ds, DISTRIBUTION = ROUND_ROBIN)')

In [5]:
-- Create a login in data pools and Provide right permissions to this user
EXECUTE( ' Use connector_test_db; CREATE LOGIN connector_user  WITH PASSWORD = ''password123!#'' ; ' )  AT  DATA_SOURCE connector_ds;
EXECUTE( ' Use connector_test_db; CREATE USER  connector_user ; ALTER ROLE [db_datareader] ADD MEMBER connector_user;  ALTER ROLE [db_datawriter] ADD MEMBER connector_user ;')  AT  DATA_SOURCE connector_ds;